body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;/
}

button {
    background-color: #005cbf;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover {
    background-color: #00429d;
}

.header {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header p {
    line-height: 30px;
}

.header-title button {
    height: 50px;
    width: 100px;
}

.header-title a img {
    width: 180px;
}

.header p {
    font-size: 16px;
    color: #333;
}

.header-nav li {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.header-nav li img {
    width: 20px;
    margin-right: 8px;
}

.header-nav a {
    text-decoration: none;
    color: #005cbf;
    font-size: 1.2em;
}

.header-nav a:hover {
    text-decoration: underline;
}


.product-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    max-width: 20%;
    max-height: 15%;
    margin-top: 10px;
    text-align: center;
}

.product-card img {
    width: 100%;
    border-radius: 8px;
}

.product-card h3 {
    font-size: 1.5em;
    color: #e62e50;
}

.product-card h3 s {
    color: #777;
}

.product-card h3 sup {
    font-weight: 100;
}

.product-card p {
    font-size: 1em;
}

.product-card button {
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
}

aside {
    width: 25%;
    background-color: #e62e50;
    color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

aside h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

aside h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

aside img {
    width: 80%;
    border-radius: 8px;
    margin-bottom: 20px;
}

aside button {
    padding: 10px 20px;
    font-size: 1.2em;
}

.footer {
    background-color: white;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.footer .links a {
    display: inline-block;
    text-decoration: none;
    background-color: #F7F7F7;
    padding: 10px;
    border-radius: 5px;
}

.footer .links a:hover {
    background-color: #e0e0e0;
}

.footer .links img {
    display: block;
    width: 20px;
    height: 20px;
}